{% extends 'base.html' %}
{% block title %}
 Toevoegen
{% endblock %}


{% block header %}
  <h1>Toevoegen</h1>
{% endblock %}

{% block content %}
  <form action = "/opslaan" method = "POST">
    <input type="hidden" name = "id" value="0">
    <p>Titel: <input type = "text" name = "titel" /></p>
    <p>Ingredienten: <textarea name = "ingredienten"></textarea></p>
    <p>Bereidingstijd: <input type="number" name="tijd" step="5" /> minuten</p>
    <p>Aantal personen: <input type="number" name = "personen" /></p>
    <p>Bereiding: <textarea  name = "bereiding"></textarea></p>

    <p><input type = "submit" value = "submit" /></p>
  </form>

{% endblock %}
